@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");


.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all .3s ease-in;
}

.headerBackground {
  background-color: var(--bgColor);
}

.headerKeeper {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  height: 3rem;
  justify-content: space-between;
}

.logoAndMenuContainer {
  display: flex;
  width: 60%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h2 {
  margin: 0;
  font-family: 'NCLBlovey'
}

.logo img {
  width: 4rem;
  height: 3rem;
}

.menu {
  display: flex;
  align-items: center;
  width: 35%;
  margin: 0;
  justify-content: space-between;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.btnSingIn {
  background-color: var(--blue);
  color: var(--white);
  padding: .5rem 1.5rem;
  border-radius: .5rem;
}

.btnSingUp {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: 1px solid var(--blue);
  background-color: transparent;
  margin-left: .5rem;
}


.headerCotain {
  background-image: url('../public/images/bg.jpg');
  width: 100%;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
  margin-top: 3.3rem;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerCotain h2 {
  color: var(--white);
  margin: 0;
}

.headerCotain p {
  color: var(--gray);
  text-align: center;
}

/* SearchHeader */
.headerSearchContainer {
  position: absolute;
  background-color: var(--white);
  border-radius: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 21rem;
  z-index: 999;
  height: 4rem;
  left: 16rem;
  padding: 0 1rem;
  box-shadow: 0px -3px 18px 0px rgba(0, 0, 0, 0.75);
}

.headerSearchItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.headerSearchItem input {
  height: 1.4rem;
  margin-left: .3rem;
}

.headerSearchItem label:first-child {
  margin-bottom: 0;
}

.headerSearchItem label {
  margin-bottom: .5rem;
  font-weight: 600;
  font-size: .9rem;
}

.headerSearchItem>div {
  margin-left: 1rem;
  font-size: .8rem;
  margin-top: .3rem;
}

.headerSearchItem div:last-child {
  margin-left: 0;
}

#destination {
  border-radius: .5rem;
  padding-left: 1rem;
}

.iconLocation {
  color: var(--red);
  top: 1.3rem;
}

.iconCalender {
  top: 1.3rem;
  color: var(--purple);
}

.iconOption {
  color: var(--green);
}

.btnSearchHeader {
  background-color: var(--blue);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchicon {
  color: var(--white);
  font-size: 1.5rem;
}

/* hotel List */

.hotelsList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.hotelsList a {
  width: 30%;
}

.hotelItem {
  background-color: var(--white);
  width: 100%;
  border-radius: 12px;
  padding: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.20);
}

.hotelImage {
  width: 100%;
  height: 13rem;
  border-radius: 10px;
  object-fit: cover;
}

.hotelDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotelDetails h2 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: .5rem;
  font-family: 'Bollerouy';
}

.hotelDetails p {
  font-size: .8rem;
  margin: 0;
  color: var(--gray-500);
}

.hotelPrice {
  display: flex;
  align-items: center;
  width: 35%;
}

.hotelPrice p {
  color: var(--gray-300);
  font-size: .8rem;
  margin-right: .5rem;
}

/* date */
.date {
  position: absolute;
  top: 2.5rem;
  left: -5rem;
}

/* header search options */
.headerSearchOptions {
  background-color: var(--white);
  border-radius: 5px;
  position: absolute;
  width: 12rem;
  bottom: -9.2rem;
  left: -1rem;
}

.searchOptionsItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .1rem .6rem;
}

.optionsCounter {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.counterIcon {
  background-color: var(--gray-100);
  font-size: .7rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 3px;
}

.btnCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

/* map */
.mapCotainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4rem;
}

.hotelsContainer {
  width: 60%;
}

.bookmarksContainer {
  width: 60%;
}

.mapKeeper {
  width: 31%;
  height: 88vh;
  margin-left: .5rem;
  position: fixed;
  left: 46rem;
  right: 0rem;
  overflow: scroll;
  scrollbar-color: var(--blue) var(--bgColor);
  scrollbar-width: thin;
}

.map {
  height: 100vh;
}

/* hotelsSearch */

.hotelSearchItem {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-sizing: border-box;
  padding: .5rem;
  justify-content: space-between;
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 1rem;
  width: 100%;
}

.hotelSearchItem.currentHotel {
  font-style: bold;
  background-color: var(--gray-50);
  border: 1px solid var(--blue);
}

.hotelSearchItem img {
  width: 25%;
  height: 9rem;
  border-radius: 7px;
  margin-right: .5rem;
}

.hotelSearchDetail {
  display: flex;
  align-items: flex-end;
  width: 75%;
}

.hotelSearchDetail>div {
  width: 70%;
}

.hotelName {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: .5rem;
}

.hotelLocation {
  font-size: .8rem;
  color: var(--gray-500);
  margin: 0;
}

.hotelSearchOptions {
  display: flex;
  flex-direction: column;
}

.hotelSearchOptions h3 {
  font-size: .9rem;
  margin: 0;
  margin-top: 2rem;
}

.hotelSearchOptions span {
  font-size: .8rem;
  margin-top: .3rem;
  padding: 0 .3rem;
}

.priceAndBook {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.priceAndBook h3 {
  margin: 0;
}

.priceAndBook p {
  font-size: .8rem;
  color: var(--gray-700);
  margin: .5rem 0;
}

.priceAndBook button {
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 30px;
  background-color: var(--blue);
  color: var(--white);
  font-size: .8rem;
}

.hotelsSearch {
  width: 100%;
  margin-top: 1rem;
}

.btnBack {
  font-size: 1.2rem;
  background-color: transparent;
}

.hotelsSearch h2 {
  margin: .8rem 0;
  font-family: 'Bollerouy';
}

.hotelsSearch span {
  color: var(--gray-700);
  font-size: 1rem;
  font-family: 'Bollerouy';
}

/* Single Hotel */
.singleHotel {
  margin-top: .5rem;
}

.hotelImage {
  border-radius: 10px;
  width: 100%;
  height: 20rem;
}

.pictureInsideHotel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.pictureInsideHotel img {
  width: 23%;
  margin-bottom: .7rem;
  border-radius: 8px;
  height: 8rem;
  cursor: pointer;
}

.SingleHotelDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SingleHotelName h2 {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.SingleHotelName p {
  font-size: .9rem;
  color: var(--gray-300);
  margin: 0;
}

.SingleHotelPrice {
  background-color: var(--blue--300);
  color: var(--blue);
  border-radius: 6px;
  padding: .5rem;
}

/* bookmarks */
.bookmarksList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bookmarksListTitle {
  margin: .8rem 0;
  font-family: 'Bollerouy';
}

.bookmarksListTitle span {
  color: var(--gray-700);
  font-family: 'Bollerouy';
}

.bookmarksList a {
  width: 30%;
}

.bookmarkItem {
  background-color: var(--white);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px -1px 20px 0px rgba(0, 0, 0, 0.20);
  height: 15rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bookmarkDetail {
  width: 100%;
}

.bookmarkDetail h2 {
  font-size: .8rem;
  margin: 0 .8rem;
}

.bookmarkDetail p {
  font-size: .7rem;
  color: var(--gray-700);
  margin: .5rem .7rem;
}

.bookmarkDetail button {
  width: 100%;
}

.btnRemove {
  background-color: var(--red);
  color: var(--white);
  padding: .4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0 0 10px 10px;
}

/* Single Bookmark */
.singleHotelItem {
  display: flex;
  align-items: center;
}

.SinglebookmarkFlag {
  margin-right: .5rem;
}

.singleBookmarkDetail p {
  margin: 0;
  font-size: 1rem;
  color: var(--gray-700);
}

.singleBookmarkDetail h2 {
  margin: 0;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.bookmardIconLocation {
  margin-right: 5px;
}

.bookmarkItem.currentBookmark {
  font-style: bold;
  background-color: var(--gray-50);
  border: 1px solid var(--blue);
  border-bottom: none;
}

/* Add New Location */
.addBookmarkContainer {
  background-color: var(--white);
  width: 70%;
  border-radius: 10px;
  padding: 1rem;
}

.addBookmarkTitle {
  font-size: 1.2rem;
  font-family: 'Bollerouy';
  text-align: center;
}
form{
  width: 80%;
  margin:  0 auto;
}
.addNewBookmarkItem {
  width: 100%;
}
.addBookmarkIcon{
  font-size: 1.3rem;
  color: var(--blue);
  margin-right: .5rem;
}
.addNewBookmarkItem label {
  font-size: 1rem;
}
.addNewBookmarkItem div{
  display: flex;
  align-items: flex-end;
}
.inputAddLocation{
  height: 2rem;
  border-bottom: 1px solid var(--blue);
  margin-top: .5rem;
  width: 100%;
}
.btnAddLocation{
  margin-top: 1rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  width: 100%;
  padding: .5rem;
}