:root {
    --bgColor:#F5F7FB;
    --white: #FFF;
    --black: #000;
    --gray-100: #e3e3e3;
    --gray-300: #b7b4b4;
    --gray-500: #a3a1a1;
    --gray-700: #8c8b8b;
    --red: #f43f5e;
    --purple: #4f46e5;
    --green: #008000;
    --blue--300: #b0c5fc;
    --blue: #3158B8;
  }
  @font-face {
    font-family: 'Bollerouy';
    src: url(../public/fonts/Bollerouy.otf);
  }
  @font-face {
    font-family: 'NCLBlovey';
    src: url(../public/fonts/NCLBloveyMonjiteg-Demo.otf);
  }
  * {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: var(--bgColor);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .btn {
    outline: none;
    border: none;
    cursor: pointer;
  }
  
  input {
    outline: none;
    border: none;
  }
  
  .icon {
    position: absolute;
  }

  :disabled{
    cursor: no-drop;
  }